.AnswerItem{
   padding: 5px 5px; 
   border: 2px solid whitesmoke;
   border-radius: 6px;
   margin-bottom: 8px;
   cursor: pointer;
   transition: background-color 0.4s linear;
   
}
.AnswerItem:hover{
    background: rgba(255, 245, 255, .3);
    box-shadow:  1px 1px 1px 1px  whitesmoke;
}
.AnswerItem.sucess{
background-color: rgb(77, 255, 77);
}
.AnswerItem.erorr{
  background-color: rgb(255, 102, 102);
}